
section.home_page_gallery
	+gallery('home_page_gallery', [
		{
			mod: 'full_top',
			img: { name: 'home_01', name_mob: 'home_01' },
			labels: [
				{icon: 'wow', text_top: `We’re a`, text_bottom: 'Factory', position: 'cc'},
				{text: ['NEW BALANCE SHOES', 'VIDEO + ART DIRECTION EDITORIAL + MOTION EDITORIAL + MOTION EDITORIAL + MOTION EDITORIAL + MOTIONEDITORIAL + MOTIONEDITORIAL + MOTION EDITORIAL + MOTION EDITORIAL + MOTION EDITORIAL + MOTION EDITORIAL + MOTIONEDITORIAL + MOTION EDITORIAL + MOTION'], position: 'lb' },
			],
		},	

		{
			mod: 'one_third',
			img: { name: 'home_02', name_mob: 'home_02' },
			url: '#',
			labels: [{ text: ['disconnect disconnect','eeeeeeeeee ffffffffffffff'], position: 'cb' }],
		},
		{
			mod: 'one_third',
			img: { name: 'home_03', name_mob: 'home_03' },
			url: '#',
			labels: [{ text: ['mit'], position: 'cb' }],
		},
		{
			mod: 'one_third',
			img: { name: 'home_04', name_mob: 'home_04' },
			url: '#',
			labels: [{ text: ['fabrk'], position: 'cb' }],
		},

		{
			mod: 'full',
			img: { name: 'home_05', name_mob: 'home_05' },
			labels: [
				{video: true, position: 'cc', url: 'https://www.youtube.com/watch?v=WgqRXRkFYec' },
				{text: ['Your nimble team is waiting!', '339.229.0066'], position: 'lt' },
				{text: ['PAYPAL', 'EDITORIAL + MOTION',], position: 'lb' },
			],
		},
		{
			mod: 'two_third',
			img: { name: 'home_06', name_mob: 'home_06' },
			url: '#',
		},
		{
			mod: 'one_third',
			img: { name: 'home_07', name_mob: 'home_07' },
			url: '#',
			labels: [{ text: ['HOE AUDIOGRAMS AUDIOGRAMS', 'AUDIOGRAMS AUDIOGRAMS AUDIOGRAMS AUDIOGRAMS AUDIOGRAMS'], position: 'cb' }],
		},
		{
			mod: 'one_third',
			img: { name: 'home_08', name_mob: 'home_08' },
			url: '#',
		},
		{
			mod: 'two_third',
			img: { name: 'home_09', name_mob: 'home_09' },
			labels: [{text: ['F1ZZ', 'BRANDING + ANIMATION',], position: 'lb' }],
			url: '#',
		},
		{
			mod: 'one_third_bottom',
			img: null,
			labels: null,
			quote: { 
				text: 'Nimblebot continues to impress and wow us with their dedicated attitude and wver-the-top delivery, everytime. Nimblebot continues to impress and wow us with their dedicated attitude and wver-the-top delivery, everytime',
				author: { name: 'Usman Ahmed', position: 'Head of Globl Policy', icon: '', img: 'paypal'},
			},
			social: {
				items: [
					{ name_icon: 'facebook', mod_link: 'fb', mod_icon: '' },
					{ name_icon: 'instagram', mod_link: 'in', mod_icon: '' },
					{ name_icon: 'vimeo', mod_link: 'vm', mod_icon: '' },
					{ name_icon: 'youtube', mod_link: 'yt', mod_icon: '' },
				],
			},
		},
		{
			mod: 'two_third_bottom',
			img: { name: 'home_10', name_mob: 'home_10' },
			labels: [
				{video: true, position: 'cc', url: 'https://vimeo.com/677324350' },
				{text: ['HBO + NCTA', 'ANIMATION',], position: 'lb' },
			],
		},
	])


.list_of_company_logos
	+arrayImages({
		className: 'list_of_company_logos', 
		mod: null,
		png: true,
		images: [
			{ name: 'paypal', url: '#' },
			{ name: 'nbo', url: '#'},
			{ name: 'mig', url: '#'},
			{ name: 'ibm', url: '#'},
			{ name: 'samsung', url: '#'},
			{ name: 'paypal', url: '#' },
			{ name: 'nbo', url: '#'},
			{ name: 'mig', url: '#'},
			{ name: 'ibm', url: '#'},
			{ name: 'samsung', url: '#'},
		],
	})




























