.block_image_top
	+picture({
		typeJpeg: false,
		png: false,
		media: 1024,
		is2x: false,
		contain: false,
		class: 'block_image__picture',
		img: `home_01`,
		img_mob: `home_01`
	})
	a.block_image_top__link--center(href= '#')
		+icon('wow_big')
	a.block_image_top__link(href= '#') NEW BALANCE SHOES | VIDEO + ART DIRECTION


.block_images_three_img
	+arrayImages({
		className: 'block_images_three_img', 
		mod: null,
		images: [
			{ name: 'home_02', text: 'disconnect', url: '#' },
			{ name: 'home_03', text: 'mit', url: '#' },
			{ name: 'home_04', text: 'Fabrk', url: '#' },
		],
	})


.block_video_all_width
	+picture({
		typeJpeg: false,
		png: false,
		media: 1024,
		is2x: false,
		contain: false,
		class: 'block_video_all_width__image',
		img: `home_05`,
		img_mob: `home_05`
	})
	.block_video_all_width__top_text 
		span.block_video_all_width__descr Your nimble team is waiting!
		span.block_video_all_width__value 339.229.0066
	a(href= '#' class= `block_video_all_width__link_start_video`)
	a(href= '#' class= `block_video_all_width__link_bottom_text`) PAYPAL | EDITORIAL + MOTION
	

.block_images_two_img
	+arrayImages({
		className: 'block_images_two_img', 
		mod: null,
		images: [{ name: 'home_06', url: '#' }, { name: 'home_07', url: '#', text: 'HOE | AUDIOGRAMS' }],
	})


.block_images_two_img
	+arrayImages({
		className: 'block_images_two_img', 
		mod: 'reverse_mod',
		images: [{ name: 'home_08', url: '#' }, { name: 'home_09', url: '#' }],
	})


.block_bottom_element_page
	.block_bottom_element_page__left_element
		.block_bottom_element_page__info_block
			.absolute_position 
				.info_block__content
					.info_block__quote Nimblebot continues to impress and wow us with their dedicated attitude and wver-the-top delivery, everytime.
					.info_block__author
						.info_block__name Usman Ahmed
						.info_block__position Head of Globl Policy
						a.info_block__link(href= '#')
							+picture({
								typeJpeg: false,
								png: true,
								media: 1024,
								is2x: false,
								contain: false,
								class: 'icon_paypal',
								img: 'paypal',
								img_mob: 'paypal',
							})

		.block_bottom_element_page__social_block 
			.absolute_position 
				+social({
					items: [
						{ name_icon: 'facebook', mod_link: '#', mod_icon: '' },
						{ name_icon: 'instagram', mod_link: '#', mod_icon: '' },
						{ name_icon: 'vimeo', mod_link: '#', mod_icon: '' },
						{ name_icon: 'youtube', mod_link: '#', mod_icon: '' },
					]
				})

	.block_bottom_element_page__right_element
		+picture({
			typeJpeg: false,
			png: false,
			media: 1024,
			is2x: false,
			contain: false,
			class: 'block_bottom_element_page__image',
			img: `home_10`,
			img_mob: `home_10`
		})
		a(href= '#' class= `block_bottom_element_page__right_element__link_start_video`)


.list_of_company_logos
	+arrayImages({
		className: 'list_of_company_logos', 
		mod: null,
		png: true,
		images: [
			{ name: 'paypal', url: '#' },
			{ name: 'nbo', url: '#'},
			{ name: 'mig', url: '#'},
			{ name: 'ibm', url: '#'},
			{ name: 'samsung', url: '#'},
			{ name: 'paypal', url: '#' },
			{ name: 'nbo', url: '#'},
			{ name: 'mig', url: '#'},
			{ name: 'ibm', url: '#'},
			{ name: 'samsung', url: '#'},
		],
	})




























