
.home_page_gallery
	+gallery('home_page_gallery', [
		{
			mod: 'full_top',
			img: { name: 'home_01', name_mob: 'home_01' },
			labels: [
				{png: 'wow', position: 'cc'},
				{text: ['NEW BALANCE SHOES', 'VIDEO + ART DIRECTION'], position: 'lb' },
			],
		},	

		{
			mod: 'one_third',
			img: { name: 'home_02', name_mob: 'home_02' },
			url: '#',
			labels: [{ text: ['disconnect'], position: 'cb' }],
		},
		{
			mod: 'one_third',
			img: { name: 'home_03', name_mob: 'home_03' },
			url: '#',
			labels: [{ text: ['mit'], position: 'cb' }],
		},
		{
			mod: 'one_third',
			img: { name: 'home_04', name_mob: 'home_04' },
			url: '#',
			labels: [{ text: ['fabrk'], position: 'cb' }],
		},
	
		{
			mod: 'full',
			img: { name: 'home_05', name_mob: 'home_05' },
			labels: [
				{video: true, position: 'cc' },
				{text: ['Your nimble team is waiting!', '339.229.0066'], position: 'lt' },
				{text: ['PAYPAL', 'EDITORIAL + MOTION',], position: 'lb' },
			],
		},
		{
			mod: 'two_third',
			img: { name: 'home_06', name_mob: 'home_06' },
			url: '#',
		},
		{
			mod: 'one_third',
			img: { name: 'home_07', name_mob: 'home_07' },
			url: '#',
			labels: [{ text: ['HOE', 'AUDIOGRAMS'], position: 'cb' }],
		},
		{
			mod: 'one_third',
			img: { name: 'home_08', name_mob: 'home_08' },
			url: '#',
		},
		{
			mod: 'two_third',
			img: { name: 'home_09', name_mob: 'home_09' },
			labels: [{text: ['F1ZZ', 'BRANDING + ANIMATION',], position: 'lb' }],
			url: '#',
		},
		{
			mod: 'one_third_bottom',
			img: null,
			labels: null,
			quote: { 
				text: 'Nimblebot continues to impress and wow us with their dedicated attitude and wver-the-top delivery, everytime.',
				author: { name: 'Usman Ahmed', position: 'Head of Globl Policy', icon: '', img: 'paypal'},
			},
			social: {
				items: [
					{ name_icon: 'facebook', mod_link: 'fb', mod_icon: '' },
					{ name_icon: 'instagram', mod_link: 'in', mod_icon: '' },
					{ name_icon: 'vimeo', mod_link: 'vm', mod_icon: '' },
					{ name_icon: 'youtube', mod_link: 'yt', mod_icon: '' },
				],
			},
		},
		{
			mod: 'two_third_bottom',
			img: { name: 'home_10', name_mob: 'home_10' },
			labels: [
				{video: true, position: 'cc' },
				{text: ['HBO + NCTA', 'ANIMATION',], position: 'lb' },
			],
		},
	])



//- .block_bottom_element_page
//- 	.block_bottom_element_page__left_element
//- 		.block_bottom_element_page__info_block
//- 			.absolute_position 
//- 				.info_block__content
//- 					.info_block__quote Nimblebot continues to impress and wow us with their dedicated attitude and wver-the-top delivery, everytime.
//- 					.info_block__author
//- 						.info_block__name Usman Ahmed
//- 						.info_block__position Head of Globl Policy
//- 						a.info_block__link(href= '#')
//- 							+picture({
//- 								typeJpeg: false,
//- 								png: true,
//- 								media: 1024,
//- 								is2x: false,
//- 								contain: false,
//- 								class: 'icon_paypal',
//- 								img: 'paypal',
//- 								img_mob: 'paypal',
//- 							})

//- 		.block_bottom_element_page__social_block 
//- 			.absolute_position 
//- 				+social({
//- 					items: [
//- 						{ name_icon: 'facebook', mod_link: '#', mod_icon: '' },
//- 						{ name_icon: 'instagram', mod_link: '#', mod_icon: '' },
//- 						{ name_icon: 'vimeo', mod_link: '#', mod_icon: '' },
//- 						{ name_icon: 'youtube', mod_link: '#', mod_icon: '' },
//- 					]
//- 				})

//- 	.block_bottom_element_page__right_element
//- 		+picture({
//- 			typeJpeg: false,
//- 			png: false,
//- 			media: 1024,
//- 			is2x: false,
//- 			contain: false,
//- 			class: 'block_bottom_element_page__image',
//- 			img: 'home_10',
//- 			img_mob: 'home_10',
//- 		})
//- 		a(href= '#' class= `block_bottom_element_page__right_element__link_start_video`)


.list_of_company_logos
	+arrayImages({
		className: 'list_of_company_logos', 
		mod: null,
		png: true,
		images: [
			{ name: 'paypal', url: '#' },
			{ name: 'nbo', url: '#'},
			{ name: 'mig', url: '#'},
			{ name: 'ibm', url: '#'},
			{ name: 'samsung', url: '#'},
			{ name: 'paypal', url: '#' },
			{ name: 'nbo', url: '#'},
			{ name: 'mig', url: '#'},
			{ name: 'ibm', url: '#'},
			{ name: 'samsung', url: '#'},
		],
	})




























