.home_page_gallery {
	.list {
		display: flex;
    flex-wrap: wrap;
	}

	a {
		@include hover_transition_opacity;
	}

	// item mods
	.item {
		position: relative;

		&.item--full_top_mod {
			padding-top: calc(550 / $page_width_ * 100%); 
			width: 100%;
		}

		&.item--full_mod {
			padding-top: calc(650 / $page_width_ * 100%); 
			width: 100%;
		}

		&.item--one_third_mod {
			padding-top: calc(480 / $page_width_ * 100%); 
			width: 33.33333%;
		}

		&.item--two_third_mod {
			padding-top: calc(480 / $page_width_ * 100%); 
			width: 66.66666%;
		}

		&.item--one_third_bottom_mod {
			width: 33.33333%;
			
			.item_author {
				position: relative;
				
				padding-top: 100%; 
				
				background: $color_red;
			}

			.item_author__quote {
				position: absolute;
				top: 0;
				left: 0;
				
				width: 100%;
				
				padding: 4rem;
				
				font-size: 2.4rem;
				font-weight: 700;
				line-height: 3.4rem;
			}
				
			.item_author__author {
				position: absolute;
				bottom: 0;
				left: 0;
				
				width: 100%;
				
				padding: 4rem;
				
				font-size: 1.8rem;
				font-weight: 400;
				line-height: 2.4rem;
				
				.item_author__name, .item_author__pos {
					display: block;
				}
				
				.item_author__link {
					display: block;
					
					width: 9rem;
					height: 2.2rem;
				}
			}
			
			.item_social {
				position: relative;
				
				padding-top: 66.666666%;
				
				background: $color_blue;
				
				.social_list {
					position: absolute;
					bottom: 0;
					left: 0;

					display: flex;

					padding: 5rem 5.6rem;

					.social_item {
						@include hover_transition_opacity;

						&:not(:first-child) {
							margin-left: 2.6rem;
						}
					}

					.social_link .icon {
						width: 3rem;
						height: 3rem;
					}
				}
			}
		}

		&.item--two_third_bottom_mod {
			padding-top: calc(797 / $page_width_ * 100%); 
			width: 66.66666%;
		}
	}

	.item_picture {
		position: absolute;
		top: 0;
		left: 0;
		
		width: 100%;
		height: 100%;

		img {
			object-fit: cover;
		}	
	}

	.item_label_link--icon_cc_mod {
		position: absolute;
		left: 50%;
		top: 50%;
		
		// width: min(20rem, 14vw);

		transform: translate(-50%, -60%);

		.item_label_img  {
			width: min(20rem, 14vw);
			height: auto;
		}
	}

	.item_label_link--video_cc_mod {
		position: absolute;
    top: 50%;
    left: 50%;
    
		width: 0;
    height: 0;
    
		border-style: solid;
    border-width: 3.2rem 0 3.2rem 5rem;
    border-color: transparent transparent transparent #ffffff;
    
		transform: translate(-50%, -50%);
		
		@extend %transition_all;

		&:hover {
			opacity: 1;
			border-color: transparent transparent transparent $color_red;
			@extend %transition_all;
		}
	}
	
	.item_label_box {
		position: absolute;
		
		text-transform: uppercase;
		white-space: nowrap;

		&.item_label_box--cb_mod {
			left: 50%;
			bottom: 0;
			transform: translate(-50%, -3rem);
		}

		&.item_label_box--lb_mod {
			left: 0;
			bottom: 0;
			transform: translate(4.6rem, -3.8rem);
		}

		&.item_label_box--lt_mod {
			left: 0;
			top: 0;

			display: flex;
			justify-content: space-between;

			width: 66.66666%;
			
			padding: 3.4rem 4.6rem;
			
			background: $color_red;

			.item_label_link--lt_mod::before {
				display: none;
			}
		}

		.item_label_link {

			&:not(:first-child) {
				position: relative;
				margin-left: 2rem;
	
				&::before {
					position: absolute;
					top: 0;
					left: 0;
	
					width: 1px;
					height: 2rem;
					
					content: '';
					
					background: $color_text_base;
					
					transform: translate(-1rem);
				}
			}
		}
	}
}


@media only screen and (max-width: $point_2) {
  html {
    font-size: 8px; 
	}
}

@media only screen and (max-width: $point_3) {
	.home_page_gallery .item.item--one_third_bottom_mod {
		width: 100%;
		order: 1;

		.item_author { padding-top: 40% }
		.item_social { padding-top: 20% }
	}

	.home_page_gallery .item.item--two_third_bottom_mod {
    width: 100%;
	}
}

@media only screen and (max-width: $point_4) {

}

@media only screen and (max-width: $point_5) {
  .home_page_gallery .item.item--one_third_mod,
	.home_page_gallery .item.item--two_third_mod,
	.home_page_gallery .item.item--full_mod {
		padding-top: 50%;
    width: 50%;
	}

	.home_page_gallery .item_label_box.item_label_box--lt_mod {
		width: 100%;
		padding: 1.2rem 2rem;
	}

	.home_page_gallery .item_label_box {
		white-space: normal;
	}
	.home_page_gallery .item_label_link--video_cc_mod {
		border-width: 2.4rem 0 2.4rem 4rem;
	}

	.home_page_gallery .item.item--one_third_bottom_mod {
		.item_author { padding-top: 70% }
		.item_social { padding-top: 20% }
	}
}

@media only screen and (max-width: $point_6) {
  .home_page_gallery .item.item--full_top_mod {
		padding-top: 50%;
    width: 50%;
	}
	.home_page_gallery .item.item--two_third_bottom_mod {
		width: 50%;
	}
}

@media only screen and (max-width: $point_7) {
	.home_page_gallery .item.item--one_third_mod,
	.home_page_gallery .item.item--two_third_mod,
	.home_page_gallery .item.item--full_mod,
  .home_page_gallery .item.item--full_top_mod {
		padding-top: 50%;
    width: 100%;
	}

	.home_page_gallery .item.item--one_third_bottom_mod {
		.item_author { padding-top: 100% }
		.item_social { padding-top: 50% }
	}
}



























