.home_page_gallery {
	a {
		@include hover_transition_opacity;
	}

	.list {
		display: flex;
    flex-wrap: wrap;
	}

	.item {
		position: relative;
		display: flex;
	}

	.item_link {
		display: block;

		width: 100%;
		height: 100%;
	}

	// picture //
	.item_picture {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		img {
			object-fit: cover;
		}	
	}

	/* item mods */
	
	.item--full_top_mod {
		height: calc(min(100vw, $page_width) * 550 / $page_width_);
		width: 100%;
	}

	.item--full_mod {
		height: calc(min(100vw, $page_width) * 650 / $page_width_);
		width: 100%;
		flex-direction: column;
	}

	.item--one_third_mod {
		height: calc(min(100vw, $page_width) * 480 / $page_width_);
		width: calc(100% / 3);

		align-items: flex-end;

		.item_link {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.item--two_third_mod {
		height: calc(min(100vw, $page_width) * 480 / $page_width_);
		width: calc(100% / 3 * 2);

		.item_link {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.item--one_third_bottom_mod {
		flex-direction: column;
		width: calc(100% / 3);
		
		.item_author {		
			display: flex;
			flex-direction: column;

			padding: 4rem;
			
			height: calc(min(100vw, $page_width) * 480 / $page_width_);
			
			background: $color_red;
		}

		.item_author__quote {				
			width: 100%;
			
			font-size: min(calc(0.4rem + 1.4vw), 2.4rem);
			font-weight: 700;
			line-height: min(calc(1.4rem + 1.4vw), 3.4rem);
		}
			
		.item_author__author {
			width: 100%;

			margin-top: auto;
						
			font-size: calc(0.8rem + 1vw);
			font-weight: 400;
			line-height: 2.4rem;
		}
			
		.item_author__name, .item_author__pos {
			display: block;
		}
		
		.item_author__link {
			display: block;
			
			width: 9rem;
			height: 2.2rem;
		}
		
		.item_social {
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;

			padding: 5rem 5.6rem;

			height: calc(min(100vw, $page_width) * 317 / $page_width_);
			
			background: $color_blue;
		}

		.social_list {
			display: flex;
		}

		.social_item {
			@include hover_transition_opacity;

			margin-right: 2.6rem;

			&:last-child {
				margin-right: 0;
			}
		}

		.social_link .icon {
			width: 3rem;
			height: 3rem;
		}
	}

	.item--two_third_bottom_mod {
		height: calc(min(100vw, $page_width) * 797 / $page_width_);
		width: 66.66666%;
	}


	/* item text box */
	
	.item_text_box {
		display: flex;
		
		width: 100%;
		height: 100%;
		overflow: hidden;

		text-transform: uppercase;
	}	
	
	.item_text_box--cb_mod {
    justify-content: center;
    flex-wrap: wrap;

    padding: 0 3.2rem 2.8rem;
		height: min-content;
	}

	.item_text_box--lb_mod {
		align-items: flex-end;
		padding: 0 3.19% 3.05%; // 4.4rem & 4.6rem
	}


	.item_text_box--lt_mod {
		position: relative;

		width: calc(100% / 3 * 2);
		height: min-content;

		padding: 3.4rem 4.6rem;
		
		background: $color_red;

		.item_text_link--lt_mod:last-child {
			margin-left: auto;
		}

		.item_text_link--lt_mod::before {
			display: none;
		}
	}


	/* item links */

	.item_psevdo_elem {
		position: relative;
		margin-right: 1.8rem;	
		min-width: fit-content;			

		&::before {
			position: absolute;
			top: 0;
			right: 0;

			width: 1px;
			height: 2rem;
			
			content: '';
			
			background: $color_text_base;
			
			transform: translate(1rem);
		}
	}

	// icon link //
	.item_icon_link--cc_mod {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: min(20rem, 15vw);
		height: auto;

		margin: 0 auto;

		$font_size: 1.4rem;
		font-size: calc($font_size + 1vw);
		line-height: calc($font_size + 1vw);
		font-weight: 400;
		text-align: center;
		white-space: nowrap;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;

			transform: translate(0, -2em);
			
			content: '';
			
			width: 100%;
			height: 1.5rem;
			
			background: $color_red;
		}

		.item_icon_link__text_top {
			display: block;

			margin-bottom: 0.48em;
		}

		.icon_wow {
			width: min(20rem, 15vw);
			height: min(4.8rem, 15vw);
		}

		.item_icon_link__text_bottom {
			display: block;

			letter-spacing: 0.777rem;
			text-transform: uppercase;

			margin-top: 2.2em;
		}

		@media screen and (max-width: 900px) {
			$font_size: 2rem;
			font-size: $font_size;
			line-height: $font_size;
		}
	}

	// Video label
	.item_video_link--cc_mod {
		@extend %transition_all;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 0;
    height: 0;
    
		border-style: solid;
    border-width: 3.2rem 0 3.2rem 5rem;
    border-color: transparent transparent transparent #ffffff;
		
		&:hover {
			@extend %transition_all;

			opacity: 1;
			border-color: transparent transparent transparent $color_red;
		}
	}
}


@media only screen and (max-width: $point_2) {
  html {
    font-size: 8px; 
	}
}

@media only screen and (max-width: $point_3) {
	.home_page_gallery .item.item--one_third_bottom_mod {
		width: 100%;
		order: 1;

		.item_author { min-height: 30rem; height: auto; }

		.item_social { height: auto; }
	}

	.home_page_gallery .item.item--two_third_bottom_mod {
    width: 100%;
	}
}

@media only screen and (max-width: $point_4) {
  .home_page_gallery .item.item--one_third_mod,
	.home_page_gallery .item.item--two_third_mod,
	.home_page_gallery .item.item--full_mod {
    width: 50%;
		height: calc(min(100vw, $page_width) * 480 / $page_width_);
	}

	.home_page_gallery .item_text_box.item_text_box--lt_mod {
		width: 100%;
		padding: 1.2rem 2rem;
	}
}

@media only screen and (max-width: $point_5) {
	.home_page_gallery .item_text_box {
		white-space: normal;
	}
	.home_page_gallery .item_video_link--cc_mod {
		border-width: 2.4rem 0 2.4rem 4rem;
	}
}

@media only screen and (max-width: $point_6) {
	.home_page_gallery .item.item--one_third_mod,
	.home_page_gallery .item.item--two_third_mod,
	.home_page_gallery .item.item--full_mod,
  .home_page_gallery .item.item--full_top_mod,
	.home_page_gallery .item.item--two_third_bottom_mod {
    width: 100%;
		height: calc(min(100vw, $page_width) * 900 / $page_width_);
	}
}



























