extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	section.section.demo_mod

		+menu({
			gl_mod: 'top',
			gl_class: 'menu',
			items: [
				{ url: '', title: 'home', active: true },
				{ url: '', title: 'about' },
				{ url: '', title: 'work' },
				{ url: '', title: 'portfolio' },
				{ url: '', title: 'price' },
				{ url: '', title: 'contacts' },
			]
		})
		//- include D:/glivera-team/gl-test-2/helpers/components/accordion/content.pug
		//- include D:/glivera-team/gl-test-2/helpers/components/accordion/forms.pug
