extends ../layout/_layout

block vars
	- array = {body_class:'test_2v2', layout_mod:'test2v2_mod', sub_keywords:'test2v2subkey', title_inner:'Test2v2'}
block content_block
	.section_in
		include ./../blocks/block_home_page_v2
