// without mod
+breadcrumbs([{ text: 'some text' },{ text: 'new page' },{ text: 'current page' }])

// with mod
+breadcrumbs([{ text: 'some text' },{ text: 'new page' },{ text: 'current page' }],'mod')