//------------------------------------------------------------layout
.header {
	position: fixed;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;

	font-size: 2rem;
	text-transform: uppercase;

	will-change: transform;

	@include z-index(header);
}

.header .section_in {
	height: 100%;
}

.header__navigation {
	@extend %global_flex_block_row_wrap_space_between_center;
	
	position: relative;

	height: 100%;

	padding-left: 4.6rem;

	background: $color_red;
}

.header__link_logo {
	width: 15.6rem;
	height: 3.5rem;

	background: $white;
}

.header__logo {
	img {
		width: 15.6rem;
		height: auto;
		
		object-fit: cover;
	}
}

.header_menu__list {
	@extend %global_flex_block_row_wrap_space_between_center;
	
	height: 100%;

	font-size: 2rem;
	font-weight: 700;
	line-height: 10rem;
}

.header_menu__item {
	margin: 0 3.8rem;

	&:last-child {
		margin: 0 0 0 3.8rem;
		
		background: $color_blue;

		.header_menu__link {
			width: 30rem;
		}
	}
}

.header_menu__link {
	@extend %transition_opacity;

	display: block;

	height: 100%;

	text-align: center;
	white-space: nowrap;

	&:hover {
		@extend %transition_opacity;
		opacity: .5;
	}
}

// MOBILE MENU
$width_line: 4px;
.display_none {
	display: none!important;
}

.button_open_menu {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;

	align-items: center;
	justify-content: center;

	width: 10rem;
	height: 10rem;

	cursor: pointer;
	background: $color_blue;

	.menu_mob {
		@extend %transition_all;

		position: absolute;

		width: 4.4rem;
		height: 4rem;

		border-top: $width_line solid $color_text_base;
		border-bottom: $width_line solid $color_text_base;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			content: '';
			width: 100%;
			height: $width_line;
			background: $color_text_base;
			transform: translate(0, -50%);
		}

		&:hover {
			@extend %transition_transform;

			transform: rotate(180deg);
		}
	}
}

@mixin transition_all() {
	transition: all .3s ease;
	will-change: transform;
}

@media only screen and (max-width: $point_4) {
	.header_menu__list {
		position: absolute;
		top: 0px;
		right: 0px;
		
		display: block;
		
		width: 100%;

		transform: translate(0px, 10rem);

		background: none;

		.header_menu__item {
			margin: 0;
			background: none;

			&:last-child .header_menu__link {
				width: 100%;
			}

			&:not(:last-child) .header_menu__link {
				margin: 0;
				padding: 0 5rem 0 0;
			}
		}

		.header_menu__link {
			@include transition_all;

			display: inline-block;

			width: 100%;
			height: 100%;

			margin: 0;
			padding: 0 5rem 0 0;

			text-align: end;

			background: $color_red;

			&:hover {
				@include transition_all;
				opacity: 1;
				background: $color_blue;
				padding: 0 6rem 0 0 !important;
			}
		}
	}
}




//------------------------------------------------------------layout###